@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1 {    
    font-family: 'Roboto', sans-serif ;
}


body {
    font-family: 'Roboto', sans-serif ;
    width: 400px;
    padding-left: 20px;
    box-sizing: border-box;
}

form {
    color: green;
}

button {
    color: red;
}

input {
    width: 100%;
}