[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "*"
pillow = "*"
requests = "*"
djangorestframework = "*"
markdown = "*"
colour = "*"

[dev-packages]

[requires]
python_version = "3.9"
